.overview{
    background-color: #eee;
    .container{
        padding: 100px 0;
        h1{
            font-size: 50px;
            font-weight: bolder;
            text-transform: uppercase;
            margin-bottom: 30px; 
        }
        p{
            width: 80%;
            font-size: 20px;
            margin: auto; 
            line-height: 2;
            color: rgb(133, 133, 133);
        }
        h4{
            letter-spacing: 3px;
            font-weight: normal;
            color: rgb(133, 133, 133);
            margin-top: 10px;
            margin-bottom: 50px;
        }
        .btn{
            width: 200px;
            color: #fff;
            background-color: rgba($red-main-color,.8);
            &:hover{
                background-color: rgba($red-main-color,1);
            }
        }
    }
}